* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    mobile webkit -moz-tap-highlight-color: rgba(255, 255, 255, 0);
    -ms-tap-highlight-color: rgba(255, 255, 255, 0);
    tap-highlight-color: rgba(255, 255, 255, 0);
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
    position: absolute;
}
.main {
    width: 300px;
    height: 250px;
    top: 0px;
    left: 0px;
    overflow: hidden;
    visibility: visible;
    position: relative;
    background-color: white;
    cursor: pointer;
}

/*ALL ELEMENT STYLING AND TRANSITION SHOULD BE INPUTTED HERE*/

/*#spot-female{
    opacity: 0;
}*/

#spot-female{
    position: absolute;
    width: 300px;
    height: 250px;
    transition: opacity 1s;
}

#spot-head1{
    position: absolute;
    left: -150px;
    width: 300px;
    height: 250px;
    transition: 0.5s;
    opacity: 1;
}

.images{
    opacity: 0;
}

.spot-head1{
    position: absolute;
    left: -150px;
    width: 300px;
    height: 250px;
    transition: 0.5s;
    opacity: 0;
}

#spot-head2{
    position: absolute;
    left: -200px;
    width: 300px;
    height: 250px;
    transition: 0.5s;
    opacity: 1;
}

#spot-subhead{
    position: absolute;
    width: 300px;
    height: 250px;
    transition: opacity 1s;
}

#spot-button{
    position: absolute;
    width: 300px;
    height: 250px;
    transition: opacity 1s;
}

#spot-logo{
    position: absolute;
    left: 150px;
    width: 300px;
    height: 250px;
    transition: 0.5s;
    opacity: 1;
}